<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat with Your Bot</title>
    <link rel="stylesheet" href="styles.css">
</head>
    <div class="blurred-text">شرکت هتل‌سازی دریا آسیا</div>
    <div class="chat-container">
        <div class="chat-box">
            <div class="chat-header">Personalized AI Chatbot</div>
            <div class="chat-messages" id="messages"></div>
            <textarea id="userInput" placeholder="Ask your questions..."></textarea>
            <button onclick="sendMessage()">Send</button>
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>
